<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="teacher" class="typeconversion.Teacher">
        <property name="name" value="张老师"></property>
        <property name="age" value="31"></property>
        <property name="birthday" value="1991-03-21 20:09:21"></property>
    </bean>

    <!-- 类型转换器注入-->
    <bean id="myConverter" class="typeconversion.MyConverter"></bean>

    <!--这个id必须为conversionService -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="myConverter"></ref>
            </set>
        </property>
    </bean>
</beans>