<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="typeconversion.Student">
        <property name="name" value="qin"></property>
        <property name="birthday" value="1992-05-22"></property>
    </bean>

    <!-- 自定义类型转换配置 -->
    <bean id="myConvert" class="typeconversion.MyConvert">
        <property name="pattern" value="yyyy-MM-dd"></property>
    </bean>

    <!-- 注意：这里的id一定要是conversionService，不能是其它值 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="myConvert"></ref>
            </set>
        </property>
    </bean>

</beans>