<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--实现FactoryBean接口创建复杂对象 -->
    <bean id="cat1" class="complex.MyFactoryBean"></bean>

    <!--通过静态工厂方式创建复杂对象 -->
    <bean id="cat2" class="complex.StaticFactory" factory-method="getInstance"></bean>

    <!--通过实例工厂方式创建复杂对象 -->
    <bean id="instanceFactory" class="complex.InstanceFactory"></bean>
    <bean id="cat3" factory-bean="instanceFactory" factory-method="getInstance"></bean>
</beans>