<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dog1" class="xml.constructor.Dog">
        <constructor-arg name="dogName" value="小狗1号"></constructor-arg>
        <constructor-arg name="dogColor" value="黑色"></constructor-arg>
    </bean>

    <bean id="stu1" class="xml.constructor.Student">
        <constructor-arg name="stuName" value="张三封"></constructor-arg>
        <constructor-arg name="stuSex" value="男"></constructor-arg>
        <constructor-arg name="stuAge" value="88"></constructor-arg>
        <constructor-arg name="stuDog" ref="dog1"></constructor-arg>
    </bean>
</beans>